.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96vh;
}

.wrapper {
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.hide {
  height: 24px;
  padding: 1px 12px 1px 12px;
  cursor: pointer;
}

.input {
  height: 28px;
  padding-left: 12px;
  font-size: 18px;
}

.hide,
.input,
.wrapper {
  background-color: rgb(220, 228, 255);
  border: none;
  outline: none;
}
